{% extends 'base.html.twig' %}

{% block title %}{{ book.name }} - Книги{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            {{ book.name }}
            <a href="{{ path('books_edit', {'id': book.id}) }}"><i data-toggle="tooltip" title="Редактировать" class="fas fa-pencil-alt"></i></a>
            <a class="delete" href="{{ path('books_delete', {'id': book.id}) }}"><i data-toggle="tooltip" title="Удалить" class="fas fa-trash-alt"></i></a>
        </div>

        <div class="card-wrap card-book-inside">
            <div class="card">
                {% if book.cover %}
                    <div class="card-img-wrap">
                        <img class="card-img-top" src="{{ asset(covers_directory ~ book.cover.filename) }}" alt="{{ book.name }}">
                    </div>
                {% endif %}
                <div class="card-body">
                    <ul>
                        <li>Авторы:
                            {% for author in book.authors %}
                                <a href="{{ path('authors_show', {'id': author.id}) }}">{{ author.name }}</a>
                                {% if not loop.last %}, {% endif %}
                            {% else %}
                                -
                            {% endfor %}
                        </li>
                        <li>ISBN: {{ book.isbn }}</li>
                        {% if book.pagesCount %}<li>Страниц: {{ book.pagesCount }}</li> {% endif %}
                        <li>Год: {{ book.year }}</li>
                    </ul>
                </div>
            </div>

            <a href="{{ path('books') }}" class="btn btn-primary mt-5">Смотреть все книги</a>
        </div>
    </div>
{% endblock %}
