{% extends 'base.html.twig' %}

{% block title %}{{ book.name }} - {{ 'pages.books.title' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            {{ book.name }}

            {% apply spaceless %}
                <a href="{{ path('books_edit', {'id': book.id}) }}">
                    <i data-toggle="tooltip" title="{{ 'general.buttons.edit' | trans }}" class="fas fa-pencil-alt"></i>
                </a>
            {% endapply %}

            <a class="delete" href="{{ path('books_delete', {'id': book.id}) }}">
                <i data-toggle="tooltip" title="{{ 'general.buttons.delete' | trans }}" class="fas fa-trash-alt"></i>
            </a>
        </div>

        <div class="card-wrap card-book-inside">
            <div class="card">
                {% if book.cover %}
                    <div class="card-img-wrap">
                        <img class="card-img-top" src="{{ asset(covers_directory ~ book.cover.filename) }}" alt="{{ book.name }}">
                    </div>
                {% endif %}
                <div class="card-body">
                    <ul>
                        <li>{{ 'authors.label' | trans({}, 'books') }}:
                            {% for author in book.authors %}
                                <a href="{{ path('authors_show', {'id': author.id}) }}">{{ author.name }}</a>
                                {% if not loop.last %}, {% endif %}
                            {% else %}
                                -
                            {% endfor %}
                        </li>
                        <li>{{ 'isbn.label' | trans({}, 'books') }}: {{ book.isbn }}</li>
                        {% if book.pagesCount %}
                            <li>{{ 'pages_count.label' | trans({}, 'books') }}: {{ book.pagesCount }}</li>
                        {% endif %}
                        <li>{{ 'year.label' | trans({}, 'books') }}: {{ book.year }}</li>
                    </ul>
                </div>
            </div>

            <a href="{{ path('books_index') }}" class="btn btn-primary mt-5">{{ 'pages.books.button_show_all' | trans }}</a>
        </div>
    </div>
{% endblock %}
