{% extends 'base.html.twig' %}

{% block title %}Авторы{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">Авторы <a href="{{ path('authors_new') }}"><i data-toggle="tooltip" title="Добавить автора" class="fas fa-plus"></i></a></div>

        <div class="row">
            {% for author in authors %}
                <div class="card-wrap col-12 col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ author.name }}</h5>
                            <ul>
                                <li>Книги:
                                    {% for book in author.books %}
                                        <a href="{{ path('books_show', {'id': book.id}) }}">{{ book.name }}</a>
                                        {% if not loop.last %}, {% endif %}
                                    {% else %}
                                        -
                                    {% endfor %}
                                </li>
                            </ul>
                            <a href="{{ path('authors_show', {'id': author.id}) }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    Авторы отсутствуют, но вы можете их <a href="{{ path('authors_new') }}">добавить</a>.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
